/*-------------GENERAL CONFIGURATION-------------*/
body
{
    background-color: #5e5e5e;
    font-family: 'ralewaynormal', arial, sans-serif;
    margin: auto;
    color: black;
}

header
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background-color: #4e4e4e;
    z-index: 100;
}

@font-face
{
    font-family: 'ralewaynormal';
    src: url('font/Raleway-Light.ttf')format('truetype');
    font-weight: normal;
}



/*-------------TITLE CONFIGURATION-------------*/
h1{
    text-transform: uppercase;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: xx-large;
}
h2{
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
}
h3{
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 10px;
}
h4{
    font-size: Large;
    font-style: italic;
    font-weight: lighter;
}

/*-------------BUTTON CONFIGURATION-------------*/
.button, .adminDeletedButton, .adminModifyButton{
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: #000;
    background: #F5F5F5;
    border-radius: 8px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.button:hover, .adminDeletedButton:hover, .adminModifyButton{
    color: #222;
     background: #F5F5F5;

}
.button:active, .adminDeletedButton:active{
    color: #000;
     background: rgb#F5F5F5(199, 195, 191);

     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
.button a, .adminDeletedButton a, .adminModifyButton a{
    color: black;
}
.submitButton{
    border:none;
	padding:10px;
	border-radius:8px;
	background:rgb(156, 155, 154);
	font:13px;
    color:black;
    cursor: pointer;
}
.submitButton:active{
    color: #000;
     background: rgb(156, 155, 154);

     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
/*-------------CONTENT-------------*/
#content
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}
.warningMessage{
    font-size: x-large;
    font-weight: bold;
    color: darkred;

}

/*-------------FORMULAIRE-------------*/
.writeField, .submitField{
    padding: 10px 0px 10px 0px;
}
.connexionForm{
    padding: 10px 0px 10px 0px;
}
.connexionForm input{
    margin-top: 5px;
}
/*-------------TEMPLATE-------------*/
header img{
    padding-left: 100px;
}
.menuMember{
    display: none;
    background-color: #403d3d;
    margin-left: 30px;
    margin-top: 10px;
    padding: 0px 15px 15px 15px;
    border-radius: 6px;
}
.menuMember li{
    padding-top: 10px;

}
.nav-header >ul >li {
    padding-right: 15px;
    text-align: center;
}
.triangle{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 7px;
    border-left-width: 7px;
    border-top: 10px solid #000;
    margin-top: 10px;
}
ul{
    list-style-type: none;
}
.logoHeader{
    height: 120px;
    width: 240px;
}

.nav-header{
    margin-right: 100px;
}

.nav-header > ul{
    padding-top: 20px;
    display: flex;
}

.nav-header a{
   text-decoration: none;
   color: black;
   font-size: 1.3em;
}
li{
    min-width: max-content;
}
.titleFooter{
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 10px;
}
/*-------------HOME PAGE-------------*/
#slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#instruction
{
    position: absolute;
    height: auto;
    margin-top: 250px;
    margin-right: auto;
    background-color: #a3a2a2;
    padding: 0px 10px;
    border-radius: 10px;
    border:2px solid #ccc;
    width: 500px;
    opacity: 90%;
    font-size: 50px;
}
#lastChapitre{
    margin-right: 20px;
}
#bio{
    width: 70%;
    margin: auto;
    border-top-style: double;
    border-top-width: 6px;
    
}
#showChapter{
    display: flex;
}
.partOfChapter, .chapter, .navChapter
{
    background-color: #a3a2a2;
    width: 33%;
    margin: 0px 10px 30px 10px;
    border-radius: 0px 20px 0px 20px;
    padding-bottom: 30px;
}

/*-------------PAGE BOOK-------------*/

#showChapterBook{
    display: flex;

}
.completText{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.chapter{
    width: 80%;
    text-align: justify;
}
.navChapter{
    width: 20%;
    overflow: auto;
}
.navChapter a{
    color : black;
    text-decoration: none;
}
#commentaire{
    width: 80%;
    margin: 0 auto;
    padding: 50px 10px 10px 10px;
    border-bottom: 3px solid black;
}
#commentaire a{
    color: darkred;
}
.containsComments{
    text-align: initial;
}
.comment{
    font-size: large;
}
.report{
    text-align: end;
}
#author{
    text-align: center;
    font-size: 1.1em;
}
#commentContent{
    width: 75%;
}
.chapterNumber{
    font-size: 1.1em;
    text-align: start;
    padding-left: 30px;
}
.publicationDate{
    font-size: 1.1em;
    text-align: end;
    padding-right: 30px;
}
.chapter > p{
    padding-left: 30px;
    padding-right: 30px;
}
#commentWrite{
    font-size: large;
    margin-bottom: 30px;
}
.commentAuthor{
    margin-bottom: 40px;
}
.commentAuthor label{
    text-decoration: underline;
}
.commentAuthor input{
    margin-top: 10px;
}
.commentContent{
    margin-bottom: 30px;
    
}
.commentContent label{
    text-decoration: underline;
}
.commentContent textarea{
    margin-top: 10px;
    height: 100px;
}
.oneComment{
    border-top: 3px solid black;
}
.chapterNumberNavigation{
   border-top: 2px solid black;
   font-size: 20px;
   font-style: italic;
}
.chapterNameNavigation{
    font-size: 20px;
    font-weight: bold;
}
.chapterNumberNavigation, .chapterNameNavigation, .chapterContentNavigation{
    margin:0px 10px;
}
.loginTitle{
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
/*-------------CONNEXION PAGE-------------*/
.connexionFormField{
    margin-bottom: 2px;
    font-size: 25px;
}
.explain{
    font-size: 20px;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    width: 80%;
}

/*-------------ADMIN CHAPTER VIEW-----------*/
.adminDisplayChapter{
    color: black;
    text-decoration: underline;
}
.navAdminHeader{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-right:5px;
    font-size:x-large;
    text-align: center;
}
.navAdminHeader a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.welcomeSentence{
    font-size: x-large;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: black;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
table a{
    text-decoration: none;
}
th, td{
    border-top: 2px solid #a3a2a2;
    border-bottom: 2px solid #a3a2a2;
    padding: 15px 0px 15px 0px;
}
#vueChapter{
    margin: 15px;
    text-align: justify;
    background-color: #a3a2a2;
    padding: 0px 10px;
}

/*-------------ADMIN COMMENTS VIEW----------------*/
.reportField a{
    color: black;
    text-decoration: underline;
}
#adminComment{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*-------------ADMIN CREATE CHAPTER VIEW----------------*/
.createChapter_fieldForm label{
  margin-bottom: 15px;
}

.createChapter_fieldForm{
   width: 60%;
   margin: auto;
   text-decoration: underline;
   font-size: large;
}
.createChapter_chapterNumber, .createChapter_chapterName{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
}
.createChapter_chapterNumber input{
    width: 30px;
    text-align: center;
    margin: auto;
}
.createChapter_chapterContent{
    margin: 30px;
}
.createChapter_submitButton{
    margin-bottom: 20px;
}
/*-------------FOOTER-------------*/
footer
{
    display: flex;
    background-color: #4e4e4e;
    flex-direction: column;
}

#nav-footer
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.plan a, .social a{
    text-decoration: none;
    color: black;
}

.copyright
{
    text-align: center;
    width:80%;
    margin: auto;
    margin-bottom: 30px;
}
#nav-footer li{
    min-width: initial;
}
/*-------------MESSAGE D'ERREUR-------------*/
.errorMessage{
    font-size: x-large;
    color: darkred;
}

/*-------------PAGE ERROR-------------*/
.error{
    font-size: x-large;
    text-transform: uppercase;
    padding-top: 24px;
}

/*-------------MEDIA QUERIES-------------*/

@media (max-width: 575px){

}

/*Small devices (landscape phones, 576px and less)*/
@media (max-width: 576px){
    .logoHeader{
        padding-left: 10px;
        height: 100px;
        width: 100px;
    }
    #bio{
        width: 80%;
        margin: auto;
    }
    #content h1, h3{
        font-size: 1.3em;
    }
    .welcomeSentence{
        width: 50%;
        padding: 10px;
    }
    .adminDeletedButton, .adminModifyButton{
        padding: 2px;
    }
    
}

/*Medium devices (tablets, 768px and less)*/
@media (max-width: 768px){ 
    .nav-header{
        width: auto;
    }
    .nav-header > ul{
        font-size: 0.9em;
    }
    #instruction{
        display: none;
    }
    table{
        font-size: x-small;
    }
    .createChapter_chapterNumber input{
      margin: auto;
    }
    .plan, .social{
       width: 50%;
    }
    .titleFooter{
        text-align: center;
        padding: 3px;
    }
   
}


/*Large devices (desktops, 992px and less)*/
@media (max-width: 992px){
    .nav-header > ul{
        padding-top: 0px;
        display: block;
    }
    .triangle{
        display: none;
    }
    #instruction{
        margin-top: 50px;
    }
    #showChapter{
        flex-direction: column;
        display: flex;
    }
    .partOfChapter{
        width: 100%;
        height: auto;
    }
    #showChapterBook{
        flex-direction: column;
        width: 97%;
    }
    .chapter, .navChapter{
       width: 100%;
        margin: 10px;
        padding: 0px;
    }
    .navChapter h4{
        margin: 0px 20px 0px 20px;
        font-style: normal;
    }
    .navAdminHeader {
        font-size: small;
    }
    .welcomeSentence{
        font-size: large;
    }
    table{
        font-size: small;
    }
}
@media (max-width: 1400px){
    .navAdminHeader{
        flex-direction: column;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px){

}